# Plausible Analytics Configuration
PLAUSIBLE_BASE_URL="https://plausible.nanko.dev"
PLAUSIBLE_HOST="plausible.nanko.dev"
PLAUSIBLE_SECRET_KEY_BASE=""
PLAUSIBLE_DB_PASSWORD=""
PLAUSIBLE_CH_PASSWORD=""
PLAUSIBLE_DATABASE_URL="postgresql://plausible:${PLAUSIBLE_DB_PASSWORD}@nanko-prod-postgres:5432/plausible"
PLAUSIBLE_CLICKHOUSE_URL="http://plausible:${PLAUSIBLE_CH_PASSWORD}@signoz-clickhouse:8123/plausible_events_db"
PLAUSIBLE_DISABLE_REGISTRATION="invite_only"
PLAUSIBLE_ADMIN_NAME="Nanko Admin"
PLAUSIBLE_ADMIN_EMAIL="admin@nanko.dev"
PLAUSIBLE_ADMIN_PWD=""
